<div class="row">
  <div class="col-12">
    <nb-card size="small">
      <nb-tabset fullWidth>
        <nb-tab tabTitle="基本设置">
        <div class="row">
        <div class="col-6">
          <ngx-setting-system-base-set></ngx-setting-system-base-set>
        </div>

        <div class="col-6">
        </div>

        </div>
        </nb-tab>
        <nb-tab tabTitle="Full width tab #2">
          2
        </nb-tab>
        <nb-tab tabTitle="Full width tab #3">
          3
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
  </div>
